body {
    margin: 0;
}

#board {
    display: block;
    margin: 2.5rem auto;
    padding: 0;
    grid-template-columns: repeat(10, 1.6rem);
    grid-template-rows: repeat(10, 1.6rem);
    justify-content: center;
    list-style: none;
    display: none;
}

.panel {
    text-align: center;
    line-height: 1.6rem;
    background: #ddd;
    border: 0.001rem solid black;
    cursor: pointer;
    font-size: 1.2rem;
    
}
.panel:hover {
    opacity: 0.5;
}
.panel.bomb.afterexplode:hover {
    opacity: 1;
}
.panel.safe.complete:hover {
    opacity: 1;
}

#mark {
    display: none;
    color: #fff;
    background: #45dbdb;
    padding: 1rem;
    margin: 2rem auto;
    border-radius: 0.6rem;
    width: 6rem;
    text-align: center;
    cursor: pointer;
}

.marking {
    background-color: blue !important;
}

#title {
    font-size: 3rem;
    background: rgba(204, 145, 67, 0.973);
    color: #fff;
    padding: 5rem 2rem;
    text-align: center;
}

#btn {
    color: #fff;
    background: #db4545;
    padding: 1rem;
    margin: 5rem auto;
    display: block;
    border-radius: 0.6rem;
    width: 8rem;
    text-align: center;
    cursor: pointer;
}
#btn:hover {
    opacity: 0.8;
}
#blackcover {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;
}

#modal {
    transform: translateY(-30rem);
    transition: .4s;
    background: #fff;
    opacity: 1;
    width: 90%;
    max-width: 30rem;
    margin: auto;
    border-radius: 1rem;
    padding: 3rem 0;
    z-index: 10;
}
#modal h1 {
    font-size: 3rem;
    color: #000;
    text-align: center;
    padding: 2rem;
}
.shown {
    transform: translateY(5rem) !important;
}
#replay {
    color: #fff;
    background: #db4545;
    padding: 1rem;
    margin: 0 auto;
    display: block;
    border-radius: 0.6rem;
    width: 8rem;
    text-align: center;
    cursor: pointer;
}
#replay:hover {
    opacity: 0.8;
}


.mined {
    background: lightgreen;
}

.explode {
    background: red;
    transform: scale(1.3);
    animation: bibe .1s infinite;
    opacity: 1 !important;
}

@keyframes bibe {
    0% {transform: translate(0px, 0px) rotateZ(0deg)}
    25% {transform: translate(2px, 2px) rotateZ(1deg)}
    50% {transform: translate(0px, 2px) rotateZ(0deg)}
    75% {transform: translate(2px, 0px) rotateZ(-1deg)}
    100% {transform: translate(0px, 0px) rotateZ(0deg)}
}

.bomb {
    /* background: red; */
}