@media (min-width: 768px) { 
    $form_bg: #da6b64;
    $mango: #ebb94d;
    $cream: #fef5e0;
    $kon: #016ea9;

    .break {
        display: none;
    }
    .afterbreak {
        display: block;
    }

    h1 {
        font-size: 2.4rem !important;
    }
    h2 {
        font-size: 1.6rem !important;
    }

    header {
        height: 7.6rem;
        padding: 1.6rem 1rem;
        .header__title {
           padding: 0;
            p {
               font-size: 1.2rem; 
               padding-top: 2rem;
            }
            img {
                width: 13rem;
                margin-right: .4rem;
            }
        }
    }

    .mainsc {
        background-image: url(../img/main.jpg);
        background-size: cover;
        .mainsc__paragraph {
            padding: 10rem 0;
            h1 {
                line-height: 2em;
                }   
                img {
                padding: 0.8rem 3rem 3.6rem;
                width: 38rem;
                height: 16rem;
                }
            }
    }
 
    .mainsc__desc {
        padding: 3rem 8rem 4rem;
        p {
            letter-spacing: .2em;
        }
        a {
            div {
                margin: 1.5rem auto 0;
                padding: 1.5rem;
                height: 8rem;
                h1 {
                    color: #fff;
                    font-size: 1.8rem !important;
                    letter-spacing: .1em;
                    width: 90%;
                    margin: 0;
                }
            } 
        }

        h2:not(:first-child) {
           font-size: 1.8rem !important;
           margin: 2.8rem 0;
        }
    }

    .box__left {
    width: 5rem;
    height: 5rem;
    }
    .box__right {
    width: 5rem;
    height: 5rem;
    }

    .mainsec__reason {
        padding: 4rem 1.8rem 1rem;
            .mainsec__reason--title {
                margin-bottom: 3.5rem;
                h1 {
                    padding: 2.6rem 0 1.7rem;
                }
            }
        p {
            font-size: 1.6rem;
            letter-spacing: .1em;
        }
    }
    .road {
        height: 24rem;
        background-size: 120rem;
        p {
            font-size: 1.6rem;
            letter-spacing: .1em;
        }
        div {
            width: 8rem;
            height: 8rem;
            line-height: 8rem;
            font-size: 1.4rem;
            top: 14rem;
        }
    }

    .mainsec__about {
        padding: 7rem 1.8rem;
        .mainsec__about--title {
            margin-bottom: 3.5rem;
            h1 {
                line-height: 1.5;
                padding: 5rem 0 3rem;
            }
        }
        .skills {
            padding: 0 3rem 2rem;
            h2 {
                padding-top: 2rem;
            }
            ul {
                li {
                    padding: 1.1rem;
                    img {
                        width: auto;
                        height: auto;
                    }
                    p {
                        font-size: 1.2rem;
                    }
                }
                li:nth-child(3) {
                    img {
                        width: auto;
                    }
                }
                li:last-child {
                    img {
                        width: auto;
                    }
                }
            }
        }
    }

    .mainsec__caution {
        padding: 6rem 3rem 5rem;
        background-image: url(../img/aboutsecondbg.jpg);
        p {
            font-size: 1.6rem;
            letter-spacing: .1em;
        }
        ul {
            width: 40%;
            margin: 3rem auto 0;
            li {
                padding: 3rem;
                h3 {
                    font-size: 1.4rem;
                }
                p {
                    padding-top: 2rem;
                    margin: 0;
                }
                p:last-child {
                    font-size: 1.4rem;
                }
            }
            li + li {
                margin-top: 2rem;
            }
        }
    }
    .mainsec__caution--blue {
        padding: 4rem;
        p {
            font-size: 1.6rem;
        }
    }

    .mainsec__study {
        padding: 2rem 0 5rem;
        p {
            font-size: 1.6rem;
        }
        ul {
            justify-content: center;
            margin: 3.5rem 0;
            li {
               margin: 2rem; 
               max-width: 18rem;
               max-height: 18rem;
            }
        }
        span {
            font-size: 1.4rem;
        }
    }

    .mainsec__merit {
        .mainsec__merit--title {
            width: 85%;
            max-width: 86rem;
            margin: 0 auto;
            h2 {
                font-size: 1.6rem !important;
                padding: 1.5rem 0 1rem;
            }
            h1 {
                padding-bottom: 1rem;
            }
        }
        ul {
            li {
                img {
                    width: auto;
                    height: auto;
                }
                div {
                    padding: 0 7rem;
                    h5 {
                        font-size: 1.6rem;
                    }
                    p {
                        font-size: 1.4rem;
                    }
                }
            }
        }
        .support {
            margin: 7rem 6rem 4rem;
            padding: 4rem 2rem 5rem;
            h2 {
                font-size: 1.6rem !important;
            }
            p {
                font-size: 1.4rem;
                letter-spacing: .1em;
                padding: 0;
            }
        }
        p {
            padding: 0 4rem;
        }
    }

    .mainsec__member {
        background-image: url(../img/teacherbg.jpg);
        padding: 6rem 5rem 2rem;
        p {
            font-size: 1.4rem;
        }
        ul {
            li {
                img {
                    width: 20rem;
                    height: 20rem;
                }
                .member {
                    padding: 0 3.5rem 4rem;
                    max-width: 77.5rem;
                }
            }
        }
    
    }


    .really {
        padding: 3rem 2rem 4rem;
        span {
            font-size: 2rem;
            width: 8rem;
            height: 8rem;
            line-height: 8rem;
        }
        .really__title {
            max-width: 85.5rem;
            margin: 0 auto;
            h4 {
                font-size: 1.8rem;
                line-height: 2;
            }
        }
    }
    .really:after {
        width: 5.5rem;
        height: 5.5rem;
    }

    .possible {
        padding-bottom: 2.5rem;
        h1 {
            padding-top: 5rem;
        }
        h5 {
            font-size: 1.4rem;
        }
        ul {
            li {
                .imgwrapper {
                    margin: 0 2rem;
                }
                div {
                    margin: 1.5rem;
                }
            }
        }
    }

    .contents {
        padding: 6rem 1rem 7rem;
        background-image: url(../img/classbg.jpg);
        p {
            font-size: 1.4rem;
            margin-bottom: 4rem;
        }
        .blue-box {
            width: 62rem;
            margin: 0 auto;
            ul {
                li {
                    font-size: 1.4rem !important;
                }
            }
        }
        .blue-box + .blue-box {
            margin-top: 1.5rem;
        }

    }
    .norisk {
        padding: 4rem 0;
        h3 {
            font-size: 1.6rem;
        }
    }


    .lecture {

        .flowpc {
            display: block;
            img {
                width: 90%;
                max-width: 100rem;
                margin: 0 auto 3rem;
                }
                ul {
                    padding: 0 6rem;
                    li {
                        list-style-type: none;
                        .item {
                            border-radius: .8rem;
                            padding: 3rem;
                            background: #fef5e0;
                            display: flex;
                            align-items: center;
                        .flowleft {
                            flex-basis: 20rem;
                            padding: 0;
                            display: block;
                            img {
                                width: auto;
                                height: auto;
                            }
                            h3 {
                                font-weight: bold;
                                letter-spacing: .1em;
                                line-height: 1.5;
                                padding: 1.5rem 0;
                            }
                        }
                        
                        .flowright {
                            flex-grow: 1;
                            flex-basis: 60%;
                            display: block;
                            padding: 0;
                            p {
                                font-size: 1.4rem;
                                font-weight: bold;
                                letter-spacing: .1em;
                                text-align: left;
                                margin: 0;
                            }
                            span {
                                text-align: left;
                                font-size: 1.2rem;
                                display: block;
                                padding-top: 2rem;
                            }
                        }
                        .flowright:nth-child(2) {
                            span {
                                padding-bottom: 2rem;
                            }
                        }
                    }
                    }
                    li:nth-child(even):before {
                        content: '';
                        background-image: url(../img/flowline1.png);
                        background-size: contain;
                        display: inline-block;
                        width: 70%;
                        padding-bottom: 6%;
                    } 
                    li:nth-child(even):after {
                        content: '';
                        background-image: url(../img/flowline2.png);
                        background-size: contain;
                        display: inline-block;
                        width: 70%;
                        padding-bottom: 6%;
                    }
                
                }
        }
        #accordion {
            display: none;
        }
    }

    .why {
        background-image: url(../img/bangkokbg.jpg);
        padding: 5rem 6rem 4rem;
        h1 {
         text-align: left;
        //  padding: 0;
        }
        ul {
            li {
                font-size: 1.4rem;
            }
        }
        h4 {
            font-size: 1.6rem;
        }
    }

    .present {
        padding: 6rem 4rem 4rem;
        h1 {
            margin-bottom: 5rem;
        }
        p {
            font-size: 1.4rem;
            span {
                font-size: 1.4rem;
            }
        }
        .zero {
            width: 38rem;
            height: 8rem;
            top: 3.5rem;
            h2 {
                font-size: 2.4rem !important;
                margin: 0;
            }
        }
        ul {
            li {
                margin: 2rem auto;
                width: 25rem;
                height: 25rem;
                line-height: 25rem;
                border-radius: 50%;
                background: #fff;
                display: block;
                padding: 4rem 0.5rem;
                div {
                    border-radius: 0;
                    width: 10rem !important;
                    margin: 2rem auto;
                    color: $mango;
                    font-size: 2.4rem;
                    font-weight: normal;
                    line-height: 1;
                    width: auto;
                    height: auto;
                }
                p {
                    display: none;
                }
                h6 {
                    display: block;
                    color: black;
                    font-size: 1.4rem;
                    font-weight: bold;
                    letter-spacing: 0.1em;
                    line-height: 1.6;
                    margin: 0;
                    text-align: center;
                    width: 23rem;
                }
            }
        }
    }

    .notvolunteer {
        background-image: url(../img/specialdetail.jpg);
        padding: 6rem 5rem;
        p {
            font-size: 1.6rem;
        }
    }

    .message {
        padding: 6.5rem 3rem 10rem;
    h1 {
        margin-bottom: 4rem;
    }
    h5 {
        margin-bottom: 6rem;
        font-size: 1.6rem;
    }
    div {
        .message__txt {
            padding-top: 4rem;
        }
    }
}

#form {
    padding: 6rem 1.5rem;
    span {
        font-size: 1.4rem;
    }
    form {
        input[type="text"], input[type="email"], textarea, div {
           width: 70%;
        }
    }
}

.questions {
    padding: 6rem;
    h1 {
        margin-bottom: 4rem;
    }
    #accordion2 {
        .question {
            .question__title {
                h5 {
                    padding: 1.8rem;
                    font-size: 1.6rem;
                }
                .gbox {
                    margin-right: 2.5rem;
                    border-right: .45rem solid #e5e5e5;
                    border-bottom: .45rem solid #e5e5e5;
                    width: 1.2rem;
                    height: 1.2rem;
                }
            }
            .collapse, .collapsing {
                padding: 2rem 2rem 2.5rem;
                p {
                    font-size: 1.4rem;
                }
            }
        }
    }

}

footer {
    padding: 3.5rem 0 2.5rem; 
    #scrollTop {
        padding: 1.5rem 1.3rem 1rem;
        width: 7rem;
        height: 7rem;
        right: 5rem;
        bottom: 9rem;

        div {
            border-top: .5rem solid #333; 
            border-left: .5rem solid #333;
            width: 1.8rem;
            height: 1.8rem; 
        }
    }
}

}

